/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar-inverse {
  background-color: #3498db;
  border-color: #2980b9;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color:   #2980b9;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #2e8ece;
}

.navbar-inverse .navbar-toggle {
  border-color: white;
}

#log_in {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  color: #2980b9;
}

#log_in:hover {
  color: white;
  border-color: white;
  background-color: #bdc3c7;
}