.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-resetting {
  max-width: 395px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-resetting-heading,
	.checkbox {
	  margin-bottom: 30px;
	}
	
	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

}

#new-pass {
	max-width: 355px;
}