{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css'%}">
{% endblock %}
{% block body %}
<div class="wrapper" style="padding: 50px 5%;">
	<div class="page-header">
		<h1>Mis Valores <small>{{ user.username }}</small></h1>
	</div>
</div>
<div class="row" style="margin: 0">
	<div class="col-md-5 col-md-offset-1">
		<h2>Su indice de masa corporal es {{ profile.calculate_bmi }}</h2> 
		<p>aqui iran los ifs que diran si eres gordo o no!</p>
	</div>
	<div class="col-md-6">
		<h2>Que significa esto?</h2>
		<p>El indice normal </p>
	</div>
</div>
<hr style="padding: 0 5%;">
<div class="row" style="margin: 0">
	<div class="col-md-5 col-md-offset-1">
		<h2>Su requerimiento calorico diario es {{ profile.calculate_dem }}</h2> 
		<p>blah blah something</p>
	</div>
	<div class="col-md-6">
		<h2>Que significa esto?</h2>
		<p>El indice normal </p>
	</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}