{% extends "base.html" %}
{% load staticfiles %}

<!DOCTYPE html>

{% block body %}
<div class="sub-container">
	<div id="survey_list-wrapper" style="margin-top: 100px;">
		<h1>Encuestas</h1>

		{% if survey_list %}

	    <ul class="list-unstyled">
	      {% for survey in survey_list %}
	        <li ><a href="{% url 'surveys:survey_detail' survey.id %}" class="survey-name">
	        {{ survey.name }}</a></li>
	      {% endfor %}
	    </ul>

	  {% else %}

	    <p> No hay encuestas disponibles. </p>

	  {% endif %}

	</div>
</div>	

{% endblock %}
